#Berita 1
source : https://nasional.kompas.com/read/2023/05/01/12594161/kpu-catat-ada-700-bakal-calon-dpd-penuhi-syarat-terbanyak-dari-jawa-barat

In [1043]:
!pip install newspaper3k

from newspaper import Article

import nltk
nltk.download('punkt')
nltk.download('stopwords')

import re

from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

from collections import Counter

import math
from collections import defaultdict
import pandas as pd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: newspaper3k in /usr/local/lib/python3.10/dist-packages (0.2.8)
Requirement already satisfied: beautifulsoup4>=4.4.1 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (4.11.2)
Requirement already satisfied: Pillow>=3.3.0 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (8.4.0)
Requirement already satisfied: PyYAML>=3.11 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (6.0)
Requirement already satisfied: cssselect>=0.9.2 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (1.2.0)
Requirement already satisfied: lxml>=3.6.0 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (4.9.2)
Requirement already satisfied: nltk>=3.2.1 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (3.8.1)
Requirement already satisfied: requests>=2.10.0 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (2.27.1)
Requirement already satisfied: feedparser>=5.2.1 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (6.0.10)
Requirement already satisfied: tldextract>=2.0.1 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (3.4.1)
Requirement already satisfied: feedfinder2>=0.0.4 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (0.0.4)
Requirement already satisfied: jieba3k>=0.35.1 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (0.35.1)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (2.8.2)
Requirement already satisfied: tinysegmenter==0.3 in /usr/local/lib/python3.10/dist-packages (from newspaper3k) (0.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.4.1->newspaper3k) (2.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from feedfinder2>=0.0.4->newspaper3k) (1.16.0)
Requirement already satisfied: sgmllib3k in /usr/local/lib/python3.10/dist-packages (from feedparser>=5.2.1->newspaper3k) (1.0.0)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk>=3.2.1->newspaper3k) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk>=3.2.1->newspaper3k) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk>=3.2.1->newspaper3k) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk>=3.2.1->newspaper3k) (4.65.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.10.0->newspaper3k) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.10.0->newspaper3k) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.10.0->newspaper3k) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.10.0->newspaper3k) (3.4)
Requirement already satisfied: requests-file>=1.4 in /usr/local/lib/python3.10/dist-packages (from tldextract>=2.0.1->newspaper3k) (1.5.1)
Requirement already satisfied: filelock>=3.0.8 in /usr/local/lib/python3.10/dist-packages (from tldextract>=2.0.1->newspaper3k) (3.12.0)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [1044]:
url = 'https://nasional.kompas.com/read/2023/05/01/12594161/kpu-catat-ada-700-bakal-calon-dpd-penuhi-syarat-terbanyak-dari-jawa-barat'

article = Article(url)

In [1045]:
article.download()

In [1046]:
article.parse()

In [1047]:
article.authors

['Kompas Cyber Media', 'Ardito Ramadhan', 'Kompas.Com', 'Vitorio Mantalean']

In [1048]:
article.publish_date

datetime.datetime(2023, 5, 1, 0, 0)

In [1049]:
article.text

'JAKARTA, KOMPAS.com - Komisi Pemilihan Umum (KPU) mencatat ada 700 orang yang sudah mendaftarkan diri sebagai bakal calon anggota Dewan Perwakilan Daerah (DPD) Pemilihan Umum 2024 hingga Kamis (27/4/2023) pekan lalu.\n\nDikutip dari akun Instagram @kpu_ri, 700 orang tersebut telah dinyatakan memenuhi syarat minimal dukungan pemilih dan sebaran untuk menjadi bakal calon anggota DPD.\n\nBila dirinci, 700 orang bakal calon anggota DPD itu terbagi dari 561 orang laki-laki (80,41 persen) dan 139 orang perempuan (19,86 persen).\n\nDari 38 provinsi se-Indonesia, Jawa Barat merupakan provinsi dengan jumlah bakal calon anggota DPD terbanyak, yakni 55 orang. Sedangkan DI Yogyakarta paling sedikit, yaitu 9 orang.\n\nBaca juga: Bakal Calon Anggota DPD Perempuan Hanya 19,86 Persen\n\nSementara itu, Sumatera Selatan adalah provinsi dengan persentase bakal calon anggota DPD perempuan terbanyak, yakni 11 orang atau 50 persen\n\nSedangkan ada tiga provinsi yang tidak memilki bakal calon anggota DPD perempuan adalah Sulawesi Barat, Papua Barat, dan Papua Barat Daya.\n\nSetelah terdata sebagai bakal calon angta DPD, 700 orang ini akan melakukan pendaftaran menjadi calon anggota DPD di kantor KPU masing-masing provinsi mulai Senin (1/5/2023) hingga Minggu (14/5/2023).\n\nBerikut ini jumlah bakal calon anggota DPD di masing-masing provinsi:\n\nJawa Barat (55 orang)\n\nLaki-laki: 44 orang\n\nPerempuan: 11 orang\n\nAceh (33 orang)\n\nLaki-laki: 29 orang\n\nPerempuan: 4 orang\n\nRiau (29 orang)\n\nLaki-laki: 23 orang\n\nPerempuan: 6 orang\n\nBaca juga: PN Jaksel: Sudah 200 Bakal Caleg Bikin Surat Keterangan Tak Pernah Dipidana\n\nDKI Jakarta (26 orang)\n\nLaki-laki: 16 orang\n\nPerempuan: 10 orang\n\nSulawesi Tenggara (25 orang)\n\nLaki-laki: 16 orang\n\nPerempuan: 9 orang\n\nSulawesi Barat (25 orang)\n\nLaki-laki: 25 orang\n\nPerempuan: 0 orang\n\nNusa Tenggara Barat (24 orang)\n\nLaki-laki: 18 orang\n\nPerempuan: 6 orang\n\nBaca juga: Pendaftaran Calon Anggota DPD Dimulai 1 Mei, Begini Tata Caranya\n\nBanten (24 orang)\n\nLaki-laki: 22 orang\n\nPerempuan: 2 orang\n\nSumatera Selatan (22 orang)\n\nLaki-laki: 11 orang\n\nPerempuan: 11 orang\n\nSulawesi Tengah (22 orang)\n\nLaki-laki: 17 orang\n\nPerempuan: 5 orang\n\nSumatera Utara (22 orang)\n\nLaki-laki: 20 orang\n\nPerempuan: 2 orang\n\nKalimantan Timur (21 orang)\n\nLaki-laki: 19 orang\n\nPerempuan: 2 orang\n\nJambi (19 orang)\n\nLaki-laki: 16 orang\n\nPerempuan: 3 orang\n\nBaca juga: KPU: Pendaftaran Bakal Calon Anggota DPR, DPRD, dan DPD Selama 14 Hari, Dimulai 1 Mei\n\nSumatera Barat (18 orang)\n\nLaki-laki: 14 orang\n\nPerempuan: 4 orang\n\nSulawesi Selatan (18 orang)\n\nLaki-laki: 16 orang\n\nPerempuan: 2 orang\n\nBangka Belitung (18 orang)\n\nLaki-laki: 17 orang\n\nPerempuan: 1 orang\n\nBali (18 orang)\n\nLaki-laki: 17 orang\n\nPerempuan: 1 orang\n\nLampung (17 orang)\n\nLaki-laki: 12 orang\n\nPerempuan: 5 orang\n\nBaca juga: Pendaftaran Caleg DPR 2024 Dibuka 1 Mei, Simak Jadwal, Syarat, dan Tata Caranya\n\nNusa Tenggara Timur (17 orang)\n\nLaki-laki: 12 orang\n\nPerempuan: 5 orang\n\nKalimantan Barat (17 orang)\n\nLaki-laki: 13 orang\n\nPerempuan: 4 orang\n\nPapua Selatan (17 orang)\n\nLaki-laki: 13 orang\n\nPerempuan: 4 orang\n\nKalimantan Utara (17 orang)\n\nLaki-laki: 15 orang\n\nPerempuan: 2 orang\n\nMaluku Utara (17 orang)\n\nLaki-laki: 15 orang\n\nPerempuan: 2 orang\n\nJawa Timur (15 orang)\n\nLaki-laki: 10 orang\n\nPerempuan: 15 orang\n\nBaca juga: KPU Buka Pendaftaran Caleg DPR mulai 1 Mei, Ini Ketentuannya\n\nKepulauan Riau (15 orang)\n\nLaki-laki: 14 orang\n\nPerempuan: 1 orang\n\nMaluku (14 orang)\n\nLaki-laki: 10 orang\n\nPerempuan: 4 orang\n\nGorontalo (14 orang)\n\nLaki-laki: 11 orang\n\nPerempuan: 3 orang\n\nPapua Barat (13 orang)\n\nLaki-laki: 13 orang\n\nPerempuan: 0 orang\n\nPapua Tengah (12 orang)\n\nLaki-laki: 8 orang\n\nPerempuan: 4 orang\n\nBengkulu (12 orang)\n\nLaki-laki: 9 orang\n\nPerempuan: 3 orang\n\nPapua Barat Daya (12 orang)\n\nLaki-laki: 12 orang\n\nPerempuan: 0 orang\n\nBaca juga: PN Jaksel: Sudah 200 Bakal Caleg Bikin Surat Keterangan Tak Pernah Dipidana\n\nJawa Tengah (11 orang)\n\nLaki-laki: 8 orang\n\nPerempuan: 3 orang\n\nPapua (11 orang)\n\nLaki-laki: 9 orang\n\nPerempuan: 2 orang\n\nPapua Pegunungan (11 orang)\n\nLaki-laki: 9 orang\n\nPerempuan: 2 orang\n\nKalimantan Tengah (10 orang)\n\nLaki-laki: 6 orang\n\nPerempuan: 4 orang\n\nSulawesi Utara (10 orang)\n\nLaki-laki: 6 orang\n\nPerempuan: 4 orang\n\nKalimantan Selatan (10 orang)\n\nLaki-laki: 8 orang\n\nPerempuan: 2 orang\n\nDI Yogyakarta (9 orang)\n\nLaki-laki: 7 orang\n\nPerempuan: 2 orang\n\nBaca juga: KPU: Pendaftaran Bakal Calon Anggota DPR, DPRD, dan DPD Selama 14 Hari, Dimulai 1 Mei'

In [1050]:
article.top_image

'https://asset.kompas.com/crops/ER4uYm-Gxei5i2dZCQUsK82dy6I=/0x0:0x0/780x390/filters:watermark(data/photo/2020/03/10/5e6775ae18c31.png,0,-0,1)/data/photo/2022/06/24/62b5810bba011.jpg'

In [1051]:
article.movies

['https://www.youtube.com/embed/fHoPXKWX55Q',
 'https://www.youtube.com/embed/jneURCQrU4s']

In [1052]:
article.nlp()

In [1053]:
article.keywords

['syarat',
 'anggota',
 'orangperempuan',
 'dari',
 'dpd',
 'jawa',
 'calon',
 'barat',
 'oranglakilaki',
 'bakal',
 'kpu',
 'catat',
 'terbanyak',
 '17',
 'orang',
 'orangbaca',
 'penuhi']

In [1054]:
article.summary

'Dikutip dari akun Instagram @kpu_ri, 700 orang tersebut telah dinyatakan memenuhi syarat minimal dukungan pemilih dan sebaran untuk menjadi bakal calon anggota DPD.\nBila dirinci, 700 orang bakal calon anggota DPD itu terbagi dari 561 orang laki-laki (80,41 persen) dan 139 orang perempuan (19,86 persen).\nDari 38 provinsi se-Indonesia, Jawa Barat merupakan provinsi dengan jumlah bakal calon anggota DPD terbanyak, yakni 55 orang.\nBaca juga: Bakal Calon Anggota DPD Perempuan Hanya 19,86 PersenSementara itu, Sumatera Selatan adalah provinsi dengan persentase bakal calon anggota DPD perempuan terbanyak, yakni 11 orang atau 50 persenSedangkan ada tiga provinsi yang tidak memilki bakal calon anggota DPD perempuan adalah Sulawesi Barat, Papua Barat, dan Papua Barat Daya.\nSetelah terdata sebagai bakal calon angta DPD, 700 orang ini akan melakukan pendaftaran menjadi calon anggota DPD di kantor KPU masing-masing provinsi mulai Senin (1/5/2023) hingga Minggu (14/5/2023).'

In [1055]:
teks1 = article.summary

In [1056]:
teks = article.text

In [1057]:
# Hapus hashtag
teks = re.sub(r'#\w+', '', teks)

# Hapus kata-kata https, www, dan .com
teks = re.sub(r'https?:\/\/\S+', '', teks)
teks = re.sub(r'www\.\S+', '', teks)
teks = re.sub(r'\b\w+\.com\b', '', teks)

# Hapus simbol
teks = re.sub(r'[^\w\s]', '', teks)

# Ubah seluruh teks menjadi lowercase
teks = teks.lower()

In [1058]:
# Tokenisasi
tokens = word_tokenize(teks)

# Hapus stopwords
stop_words = set(stopwords.words('indonesian'))
tokens = [token for token in tokens if token not in stop_words]

In [1059]:
# Hitung frekuensi kemunculan kata
word_counts = Counter(tokens)

In [1060]:
# Ambil kata-kata dengan frekuensi kemunculan minimal 2
selected_words = [word for word, count in word_counts.items() if count >= 2]

# Size vektor 50
selected_words = sorted(selected_words, key=lambda x: word_counts[x], reverse=True)[:50]

# Buat set vektor
vector_set = {}
for i, word in enumerate(selected_words):
    vector_set[word] = i

In [1061]:
# Hitung IDF
N = len(teks)
idf = defaultdict(float)
for word in word_counts.keys():
    count = sum(1 for teks in teks if word in teks)
    idf[word] = math.log(N / (count + 1))

In [1062]:
# Filter kamus IDF untuk hanya kata-kata dalam vektor set
selected_idf = {k: v for k, v in idf.items() if k in vector_set}

In [1063]:
# Hitung TF-IDF untuk setiap kata dalam dokumen
tf_idf = {}
for i, text in enumerate([teks]):
    # Hitung frekuensi kemunculan kata-kata dalam dokumen menggunakan vektor set
    doc_word_counts = defaultdict(int)
    for token in word_tokenize(text):
        if token in vector_set:
            doc_word_counts[token] += 1

    # Hitung TF-IDF untuk setiap kata dalam dokumen
    doc_tf_idf = {}
    for word, count in doc_word_counts.items():
        doc_tf_idf[word] = count * selected_idf[word]

    # Simpan hasil ke dalam kamus tf_idf
    tf_idf[f"Berita 1"] = doc_tf_idf

In [1064]:
# Konversi kamus tf_idf ke dalam DataFrame dengan index yang diambil dari selected_words
df = pd.DataFrame(tf_idf, index=selected_words)
df = df = df.sort_values(by='Berita 1', ascending=False)

# Tampilkan lima kata dengan nilai tertinggi
print(df.head(5))

              Berita 1
orang      1025.493873
perempuan   350.168640
lakilaki    325.156594
calon       108.385531
dpd         108.385531

#Berita 2
source : https://bola.kompas.com/read/2023/05/01/15003058/sea-games-2023-jadwal-timnas-u22-indonesia-vs-myanmar

In [1065]:
url = 'https://bola.kompas.com/read/2023/05/01/15003058/sea-games-2023-jadwal-timnas-u22-indonesia-vs-myanmar'

article = Article(url)

In [1066]:
article.download()

In [1067]:
article.parse()

In [1068]:
article.authors

['Kompas Cyber Media', 'Farahdilla Puspa', 'Dok. Pssi']

In [1069]:
article.publish_date

datetime.datetime(2023, 5, 1, 0, 0)

In [1070]:
article.text

'KOMPAS.com - Myanmar menjadi lawan kedua timnas U22 Indonesia pada babak penyisihan grup cabang olahraga sepak bola SEA Games 2023.\n\nJadwal timnas U22 Indonesia vs Myanmar pada Grup A SEA Games 2023 menyajikan duel yang bakal digelar di Stadion Olimpiade, Phnom Penh, Kamboja, Kamis (4/5/2023) pukul 16.00 WIB.\n\nTimnas U22 Indonesia telah mengantongi tiga poin berkat kemenangan atas Filipina pada laga pertama Grup A SEA Games 2023 hari Sabtu kemarin.\n\nGaruda Muda, julukan timnas U22 Indonesia, meraih kemenangan 3-0 berkat gol-gol yang dicetak oleh Marselino Ferdinan, Irfan Jauhari, dan Fajar Fathur Rahman.\n\nBaca juga: SEA Games 2023 Kamboja: Bukan Lolos Penyisihan Grup, Timnas U22 Seharusnya Bawa Medali Emas\n\nMarselino Ferdinan mengatakan bahwa kemenangan ini sangat penting sekaligus meningkatkan kepercayaan diri timnas U22 Indonesia.\n\n"Buat saya, sangat bersyukur dengan hasil ini. Kami diberikan kemenangan. Ini sangat penting bagi kita untuk melaju ke depannya," kata Marselino, dikutip dari situs PSSI.\n\n"Kemenangan ini juga menjadi kepercayaan diri tim untuk laga ke depan," kata pemain KMSK Deinze tersebut.\n\nHasil melawan Filipina untuk sementara membuat Indonesia berada di urutan kedua klasemen Grup A.\n\nBaca juga: Klasemen Sepak Bola SEA Games: Indonesia di Bawah Kamboja, Thailand Pimpin Grup B\n\nSkuad asuhan pelatih Indra Sjafri itu hanya kalah selisih gol dari tuan rumah Kamboja yang menempati urutan pertama.\n\nSaat Indonesia menang 3-0 atas Fiipina, Kamboja berhasil mengalahkan Timor Leste dengan skor 4-0.'

In [1071]:
article.top_image

'https://asset.kompas.com/crops/IShI2hS4QFdYtObNEeGXJJAE8kc=/63x6:1108x703/780x390/filters:watermark(data/photo/2020/03/10/5e6775b55942a.png,0,-0,1)/data/photo/2023/04/29/644cec03c7a43.jpeg'

In [1072]:
article.movies

[]

In [1073]:
article.nlp()

In [1074]:
article.keywords

['kemenangan',
 'u22',
 'grup',
 'myanmar',
 '2023',
 'jadwal',
 'indonesia',
 'ini',
 'yang',
 'games',
 'kamboja',
 'timnas',
 'vs',
 'sea']

In [1075]:
article.summary

'KOMPAS.com - Myanmar menjadi lawan kedua timnas U22 Indonesia pada babak penyisihan grup cabang olahraga sepak bola SEA Games 2023.\nJadwal timnas U22 Indonesia vs Myanmar pada Grup A SEA Games 2023 menyajikan duel yang bakal digelar di Stadion Olimpiade, Phnom Penh, Kamboja, Kamis (4/5/2023) pukul 16.00 WIB.\nTimnas U22 Indonesia telah mengantongi tiga poin berkat kemenangan atas Filipina pada laga pertama Grup A SEA Games 2023 hari Sabtu kemarin.\nGaruda Muda, julukan timnas U22 Indonesia, meraih kemenangan 3-0 berkat gol-gol yang dicetak oleh Marselino Ferdinan, Irfan Jauhari, dan Fajar Fathur Rahman.\nBaca juga: SEA Games 2023 Kamboja: Bukan Lolos Penyisihan Grup, Timnas U22 Seharusnya Bawa Medali EmasMarselino Ferdinan mengatakan bahwa kemenangan ini sangat penting sekaligus meningkatkan kepercayaan diri timnas U22 Indonesia.'

In [1076]:
teks2 = article.summary

In [1077]:
teks = article.text

In [1078]:
# Hapus hashtag
teks = re.sub(r'#\w+', '', teks)

# Hapus kata-kata https, www, dan .com
teks = re.sub(r'https?:\/\/\S+', '', teks)
teks = re.sub(r'www\.\S+', '', teks)
teks = re.sub(r'\b\w+\.com\b', '', teks)

# Hapus simbol
teks = re.sub(r'[^\w\s]', '', teks)

# Ubah seluruh teks menjadi lowercase
teks = teks.lower()

In [1079]:
# Tokenisasi
tokens = word_tokenize(teks)

# Hapus stopwords
stop_words = set(stopwords.words('indonesian'))
tokens = [token for token in tokens if token not in stop_words]

In [1080]:
# Hitung frekuensi kemunculan kata
word_counts = Counter(tokens)

In [1081]:
# Ambil kata-kata dengan frekuensi kemunculan minimal 2
selected_words = [word for word, count in word_counts.items() if count >= 2]

# Size vektor 50
selected_words = sorted(selected_words, key=lambda x: word_counts[x], reverse=True)[:50]

# Buat set vektor
vector_set = {}
for i, word in enumerate(selected_words):
    vector_set[word] = i

In [1082]:
# Hitung IDF
N = len(teks)
idf = defaultdict(float)
for word in word_counts.keys():
    count = sum(1 for teks in teks if word in teks)
    idf[word] = math.log(N / (count + 1))

In [1083]:
# Filter kamus IDF untuk hanya kata-kata dalam vektor set
selected_idf = {k: v for k, v in idf.items() if k in vector_set}

In [1084]:
# Hitung TF-IDF untuk setiap kata dalam dokumen
tf_idf = {}
for i, text in enumerate([teks]):
    # Hitung frekuensi kemunculan kata-kata dalam dokumen menggunakan vektor set
    doc_word_counts = defaultdict(int)
    for token in word_tokenize(text):
        if token in vector_set:
            doc_word_counts[token] += 1

    # Hitung TF-IDF untuk setiap kata dalam dokumen
    doc_tf_idf = {}
    for word, count in doc_word_counts.items():
        doc_tf_idf[word] = count * selected_idf[word]

    # Simpan hasil ke dalam kamus tf_idf
    tf_idf[f"Berita 2"] = doc_tf_idf

In [1085]:
# Konversi kamus tf_idf ke dalam DataFrame dengan index yang diambil dari selected_words
df = pd.DataFrame(tf_idf, index=selected_words)
df = df = df.sort_values(by='Berita 2', ascending=False)

# Tampilkan lima kata dengan nilai tertinggi
print(df.head(5))

            Berita 2
indonesia  58.387561
timnas     43.790671
u22        43.790671
grup       43.790671
sea        36.492226

#Berita 3
source : https://sport.detik.com/moto-gp/d-6698486/bezzecchi-biasa-saja-disenggol-quartararo

In [1086]:
url = 'https://sport.detik.com/moto-gp/d-6698486/bezzecchi-biasa-saja-disenggol-quartararo'

article = Article(url)

In [1087]:
article.download()

In [1088]:
article.parse()

In [1089]:
article.authors

['Lucas Aditya', 'Https', 'Www.Facebook.Com Detiksportcom', 'Lucas Aditya -']

In [1090]:
article.publish_date

datetime.datetime(2023, 5, 1, 16, 50, 15)

In [1091]:
article.text

'Rider VR46 Racing Team, Marco Bezzecchi, menegaskan bahwa dirinya tidak mengambil pusing disenggol oleh Fabio Quartararo. Dia menyebut hal itu biasa dalam balapan.\n\nSaat membalap di Sirkuit Jerez, Spanyol, Minggu (30/4/2023), terjadi crash yang sampai membuat bendera merah dikibarkan. Insiden itu bermuka dari Quartararo, yang start ke-16, mempunyai celah sempit di tikungan kedua.\n\nEl Diablo lantas kehilangan kendali motornya, terlibat kontak dengan Bezzecchi. Terjatuh, Quartararo akhirnya menyapu Miguel Oliveira.\n\nADVERTISEMENT SCROLL TO RESUME CONTENT\n\nBezzecchi menanggapi insiden dengan Quartararo. Rider Italia itu memang merasakan kontak dengan rider lain. Tapi, dia tak mempermasalahkan lebih jauh lagi.\n\n"Dari sisi saya, saya merasa seseorang menabrak saya. Tak ada hal yang gila, tapi saya merasakan itu," kata Bezzecchi di Crash.\n\n"Alasannya? Saya tidak tahu. Sulit untuk mengetahui alasan yang spesifik. Semua orang berjuang untuk alasan yang sama, kami semua ingin menang. Jadi, kami semua berjuang untuk itu."\n\n"Empat lap pertama sangat-sangat penting. Tikungan pertama menjadi kunci balapan. Sebagai contoh, pada start kedua, saya sedikit lebih berhati-hati. Tapi, jelas saya menghancurkan balapan. Wajar kalau terkadang mendapat crash seperti ini," kata dia menambahkan.\n\nMotoGP Spanyol 2023 akhirnya dimenangi oleh Francesco Bagnaia. Brad Binder dan Jack Miller yang melengkapi podium.\n\nRed Flag! Detik-detik Kecelakaan Beruntun di Sprint Race MotoGP Spanyol'

In [1092]:
article.top_image

'https://awsimages.detik.net.id/api/wm/2023/04/09/marco-bezzecchi_169.jpeg?wid=54&w=650&v=1&t=jpeg'

In [1093]:
article.movies

[]

In [1094]:
article.nlp()

In [1095]:
article.keywords

['saja',
 'tapi',
 'itu',
 'semua',
 'bezzecchi',
 'untuk',
 'rider',
 'saya',
 'di',
 'quartararo',
 'disenggol',
 'yang',
 'spanyol',
 'biasa']

In [1096]:
article.summary

'Rider VR46 Racing Team, Marco Bezzecchi, menegaskan bahwa dirinya tidak mengambil pusing disenggol oleh Fabio Quartararo.\nInsiden itu bermuka dari Quartararo, yang start ke-16, mempunyai celah sempit di tikungan kedua.\n"Dari sisi saya, saya merasa seseorang menabrak saya.\nTak ada hal yang gila, tapi saya merasakan itu," kata Bezzecchi di Crash.\nJadi, kami semua berjuang untuk itu."'

In [1097]:
teks3 = article.summary

In [1098]:
teks = article.text

In [1099]:
# Hapus hashtag
teks = re.sub(r'#\w+', '', teks)

# Hapus kata-kata https, www, dan .com
teks = re.sub(r'https?:\/\/\S+', '', teks)
teks = re.sub(r'www\.\S+', '', teks)
teks = re.sub(r'\b\w+\.com\b', '', teks)

# Hapus simbol
teks = re.sub(r'[^\w\s]', '', teks)

# Ubah seluruh teks menjadi lowercase
teks = teks.lower()

In [1100]:
# Tokenisasi
tokens = word_tokenize(teks)

# Hapus stopwords
stop_words = set(stopwords.words('indonesian'))
tokens = [token for token in tokens if token not in stop_words]

In [1101]:
# Hitung frekuensi kemunculan kata
word_counts = Counter(tokens)

In [1102]:
# Ambil kata-kata dengan frekuensi kemunculan minimal 2
selected_words = [word for word, count in word_counts.items() if count >= 2]

# Size vektor 50
selected_words = sorted(selected_words, key=lambda x: word_counts[x], reverse=True)[:50]

# Buat set vektor
vector_set = {}
for i, word in enumerate(selected_words):
    vector_set[word] = i

In [1103]:
# Hitung IDF
N = len(teks)
idf = defaultdict(float)
for word in word_counts.keys():
    count = sum(1 for teks in teks if word in teks)
    idf[word] = math.log(N / (count + 1))

In [1104]:
# Filter kamus IDF untuk hanya kata-kata dalam vektor set
selected_idf = {k: v for k, v in idf.items() if k in vector_set}

In [1105]:
# Hitung TF-IDF untuk setiap kata dalam dokumen
tf_idf = {}
for i, text in enumerate([teks]):
    # Hitung frekuensi kemunculan kata-kata dalam dokumen menggunakan vektor set
    doc_word_counts = defaultdict(int)
    for token in word_tokenize(text):
        if token in vector_set:
            doc_word_counts[token] += 1

    # Hitung TF-IDF untuk setiap kata dalam dokumen
    doc_tf_idf = {}
    for word, count in doc_word_counts.items():
        doc_tf_idf[word] = count * selected_idf[word]

    # Simpan hasil ke dalam kamus tf_idf
    tf_idf[f"Berita 3"] = doc_tf_idf

In [1106]:
# Konversi kamus tf_idf ke dalam DataFrame dengan index yang diambil dari selected_words
df = pd.DataFrame(tf_idf, index=selected_words)
df = df = df.sort_values(by='Berita 3', ascending=False)

# Tampilkan lima kata dengan nilai tertinggi
print(df.head(5))

             Berita 3
bezzecchi   29.039278
quartararo  29.039278
rider       21.779459
balapan     21.779459
spanyol     21.779459

#Berita 4
source : https://www.liputan6.com/tekno/read/5274045/epic-games-store-bagikan-3-game-gratis-ini-di-pc-mulai-4-mei-2023

In [1107]:
url = 'https://www.liputan6.com/tekno/read/5274045/epic-games-store-bagikan-3-game-gratis-ini-di-pc-mulai-4-mei-2023'

article = Article(url)

In [1108]:
article.download()

In [1109]:
article.parse()

In [1110]:
article.authors

['Giovani Dio Prasasti']

In [1111]:
article.publish_date

datetime.datetime(2023, 5, 1, 16, 0, 13, tzinfo=tzoffset(None, 25200))

In [1112]:
article.text

'Liputan6.com, Jakarta - Epic Games Store kembali membagikan game gratis, yang bisa diunduh gamer secara cuma-cuma lewat situs tersebut.\n\nMulai Kamis, 4 Mei 2023 mendatang sampai tanggal 11 Mei 2023, gamer akan bisa mengklaim secara gratis tiga game di Epic Games Store yaitu Against All Odds, Horizon Chase Turbo, dan Kao the Kangaroo.\n\nSementara itu, hari ini, Senin (1/5/2023) sampai tanggal 4 Mei pukul 10.00 malam, gamer masih bisa mengunduh secara gratis gim action survival Breathedge dan gim kasual Poker Club di Epic Games Store.\n\nHorizon Chase Turbo sendiri merupakan gim balap yang dijual dengan harga asli Rp 108.000. Permainan ini dibuat dan dirilis oleh AQUIRIS, dengan perilisan awal pada 15 Mei 2018 lalu.\n\nDalam deskripsinya, Horizon Chase Turbo merupakan game balap yang terinspirasi dari judul-judul populer dari era 80 dan 90-an.\n\nSementara, Kao the Kangaroo dijual di harga asli Rp 390.000. Gim action-adventure 3D-platformer yang dibuat dan dirilis Tate Multimedia S.A. ini, pertama kali diluncurkan pada 27 Mei 2022 yang lalu.\n\nDi Kao the Kangaroo, pemain akan memainkan Kao, yang memulai pencarian untuk mengungkap rahasia seputar hilangnya sang ayah. Dia akan melintasi lingkungan yang penuh bahaya, teka-teki, dan musuh.\n\nTerakhir adalah Against All Odds, yang merupakan game indie bergenre aksi kompetitif, di mana pemain bisa memainkan berbagai jenis permainan secara multiplayer. Game ini baru akan diluncurkan pada 4 Mei mendatang.'

In [1113]:
article.top_image

'https://cdn1-production-images-kly.akamaized.net/m3bbPcGUDlxcf7JW3bZWGU6-Hjs=/1200x675/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/4411071/original/058393400_1682913302-Kao_the_Kangaroo.jpg'

In [1114]:
article.movies

[]

In [1115]:
article.nlp()

In [1116]:
article.keywords

['kao',
 'game',
 'gim',
 'epic',
 'mei',
 'secara',
 'di',
 'gratis',
 'bisa',
 'store',
 'ini',
 'yang',
 'dan',
 'mulai',
 'games',
 'pc']

In [1117]:
article.summary

'Liputan6.com, Jakarta - Epic Games Store kembali membagikan game gratis, yang bisa diunduh gamer secara cuma-cuma lewat situs tersebut.\nMulai Kamis, 4 Mei 2023 mendatang sampai tanggal 11 Mei 2023, gamer akan bisa mengklaim secara gratis tiga game di Epic Games Store yaitu Against All Odds, Horizon Chase Turbo, dan Kao the Kangaroo.\nSementara itu, hari ini, Senin (1/5/2023) sampai tanggal 4 Mei pukul 10.00 malam, gamer masih bisa mengunduh secara gratis gim action survival Breathedge dan gim kasual Poker Club di Epic Games Store.\nDi Kao the Kangaroo, pemain akan memainkan Kao, yang memulai pencarian untuk mengungkap rahasia seputar hilangnya sang ayah.\nGame ini baru akan diluncurkan pada 4 Mei mendatang.'

In [1118]:
teks4 = article.summary

In [1119]:
teks = article.text

In [1120]:
# Hapus hashtag
teks = re.sub(r'#\w+', '', teks)

# Hapus kata-kata https, www, dan .com
teks = re.sub(r'https?:\/\/\S+', '', teks)
teks = re.sub(r'www\.\S+', '', teks)
teks = re.sub(r'\b\w+\.com\b', '', teks)

# Hapus simbol
teks = re.sub(r'[^\w\s]', '', teks)

# Ubah seluruh teks menjadi lowercase
teks = teks.lower()

In [1121]:
# Tokenisasi
tokens = word_tokenize(teks)

# Hapus stopwords
stop_words = set(stopwords.words('indonesian'))
tokens = [token for token in tokens if token not in stop_words]

In [1122]:
# Hitung frekuensi kemunculan kata
word_counts = Counter(tokens)

In [1123]:
# Ambil kata-kata dengan frekuensi kemunculan minimal 2
selected_words = [word for word, count in word_counts.items() if count >= 2]

# Size vektor 50
selected_words = sorted(selected_words, key=lambda x: word_counts[x], reverse=True)[:50]

# Buat set vektor
vector_set = {}
for i, word in enumerate(selected_words):
    vector_set[word] = i

In [1124]:
# Hitung IDF
N = len(teks)
idf = defaultdict(float)
for word in word_counts.keys():
    count = sum(1 for teks in teks if word in teks)
    idf[word] = math.log(N / (count + 1))

In [1125]:
# Filter kamus IDF untuk hanya kata-kata dalam vektor set
selected_idf = {k: v for k, v in idf.items() if k in vector_set}

In [1126]:
# Hitung TF-IDF untuk setiap kata dalam dokumen
tf_idf = {}
for i, text in enumerate([teks]):
    # Hitung frekuensi kemunculan kata-kata dalam dokumen menggunakan vektor set
    doc_word_counts = defaultdict(int)
    for token in word_tokenize(text):
        if token in vector_set:
            doc_word_counts[token] += 1

    # Hitung TF-IDF untuk setiap kata dalam dokumen
    doc_tf_idf = {}
    for word, count in doc_word_counts.items():
        doc_tf_idf[word] = count * selected_idf[word]

    # Simpan hasil ke dalam kamus tf_idf
    tf_idf[f"Berita 4"] = doc_tf_idf

In [1127]:
# Konversi kamus tf_idf ke dalam DataFrame dengan index yang diambil dari selected_words
df = pd.DataFrame(tf_idf, index=selected_words)
df = df = df.sort_values(by='Berita 4', ascending=False)

# Tampilkan lima kata dengan nilai tertinggi
print(df.head(5))

          Berita 4
mei      43.469649
game     36.224708
kao      28.979766
gim      28.979766
horizon  21.734825

#Berita 5
source : https://health.detik.com/berita-detikhealth/d-6699501/fakta-fakta-david-beckham-hidup-dengan-ocd-ini-sederet-kebiasaan-yang-dilakukan

In [1128]:
url = 'https://health.detik.com/berita-detikhealth/d-6699501/fakta-fakta-david-beckham-hidup-dengan-ocd-ini-sederet-kebiasaan-yang-dilakukan'

article = Article(url)

In [1129]:
article.download()

In [1130]:
article.parse()

In [1131]:
article.authors

['Averus Kautsar', 'Https', 'Www.Facebook.Com Detikhealth', 'Averus Kautsar -']

In [1132]:
article.publish_date

datetime.datetime(2023, 5, 2, 11, 43, 43)

In [1133]:
article.text

'Beberapa waktu lalu, David Beckham buka-bukaan soal gangguan mental yang diidapnya. Mantan pesepakbola asal Inggris ini mengaku bahwa selama ini mengalami gangguan obsesif kompulsif (OCD).\n\nHal tersebut diungkapkan dalam sebuah promosi film dokumenter terbarunya. Dokumenter itu akan menampilkan cerita-cerita biografi sang pesepakbola yang belum pernah diungkapkan sebelumnya.\n\nBuka-bukaan tentang kondisinya sejak tahun 2006\n\nBeckham bukan pertama kalinya buka-bukaan soal gangguan mental yang dialaminya. Pada tahun 2006, ia sudah pernah menyinggung soal OCD yang diidapnya.\n\nADVERTISEMENT SCROLL TO RESUME CONTENT\n\nSuami Victoria Beckham ini mengaku kerap kesulitan untuk berhenti bertindak atas dorongan yang terjadi meskipun sudah berusaha mencoba.\n\n"Saya mengidap gangguan obsesif kompulsif di mana saya harus membuat segalanya dalam garis lurus atau semuanya harus berpasangan," ucap Beckham dikutip dari The Guardian, Selasa (2/5/2023).\n\n"Saya akan menaruh kaleng Pepsi saya di lemari es dan jika ada terlalu banyak maka saya akan menaruhnya di lemari lain di suatu tempat karena semuanya harus sempurna," sambungnya.\n\nSelalu bersih-bersih\n\nTidak hanya menaruh benda secara berurutan, David Beckham mengaku juga selalu ingin bersih-bersih. Ia menambahkan bahwa butuh waktu hingga berjam-jam untuk bisa membersihkan seisi rumah.\n\n"Fakta bahwa ketika semua orang di tempat tidur saya kemudian berkeliling, membersihkan lilin, menyalakan lampu ke pengaturan yang tepat, memastikan semua tempat rapi. Saya benci turun di pagi hari dan ada cangkir, piring, dan mangkuk," ucapnya lagi.\n\nKecanduan Rasa Sakit\n\nLebih lanjut ia juga mengaku kerap menghitung pakaian dan menempatkan majalah dalam pola yang simetris. Tak hanya itu, Beckham menambahkan bahwa penyebab ia terus membuat tato adalah karena kecanduan rasa sakit.\n\nPenyebab dan Gejala OCD\n\nOCD menampilkan pola pikiran dan ketakutan yang tak diinginkan (obsesi) yang membuat pasien melakukan perilaku berulang (kompulsi). Gangguan mental ini dapat mengganggu keseharian pengidapnya.\n\nGangguan mental OCD umumnya lebih sering dialami oleh wanita daripada pria. Berikut ini adalah beberapa penyebab seseorang mengalami gangguan mental OCD, yaitu:\n\nFaktor keturunan atau genetik\n\nAdanya perbedaan fisik di bagian tertentu dalam otak\n\nMengalami depresi dan kecemasan\n\nMemiliki pengalaman trauma masa lalu\n\nPengidap OCD biasanya akan menunjukkan tanda-tanda berupa gangguan obsesi dan kompulsi. Namun, tak jarang juga pasien hanya memiliki gangguan obsesi saja atau kompulsi saja. Berikut beberapa gejala yang ditunjukkan pengidap OCD dikutip dari Mayo Clinic:\n\nGejala Obsesi\n\nIngin semuanya teratur dan simetris\n\nPikiran agresif tentang kehilangan kendali dan melukai diri sendiri atau orang lain\n\nMuncul pikiran tak diinginkan\n\nTakut kotor atau terkontaminasi\n\nKeraguan dan kesulitan menoleransi ketidakpastian\n\nContoh tanda gejala obsesi dalam keseharian antara lain:\n\nRagu sudah mengunci pintu atau mematikan kompor\n\nMengalami stres ketika melihat objek yang tidak teratur\n\nMenghindari situasi yang memicu obsesi seperti berjabat tangan\n\nTakut kotor atau terkontaminasi dengan menyentuh benda tertentu\n\nGejala Kompulsif\n\nSuka sesuatu yang berurutan\n\nMenuntut kepastian dan suka mengikuti rutinitas ketat\n\nSelalu ingin mencuci dan membersihkan\n\nSelalu ingin memeriksa dan cenderung perhitungan\n\nContoh tanda gejala kompulsif dalam keseharian antara lain:\n\nMencuci tangan berulang kali\n\nMemeriksa pintu berulang kali untuk memastikan sudah dikunci atau tidak\n\nMemeriksa kompor berulang untuk memastikan sudah dimatikan\n\nMenghitung dalam pola tertentu\n\nPengakuan David Beckham soal Hidup dengan OCD'

In [1134]:
article.top_image

'https://awsimages.detik.net.id/api/wm/2018/09/24/225d044c-093c-413b-9406-44f4149c4a45_169.jpeg?wid=54&w=650&v=1&t=jpeg'

In [1135]:
article.movies

[]

In [1136]:
article.nlp()

In [1137]:
article.keywords

['sudah',
 'faktafakta',
 'dilakukan',
 'dengan',
 'ocd',
 'saya',
 'sederet',
 'di',
 'dalam',
 'yang',
 'ini',
 'david',
 'dan',
 'gangguan',
 'atau',
 'beckham',
 'kebiasaan',
 'hidup']

In [1138]:
article.summary

'Beberapa waktu lalu, David Beckham buka-bukaan soal gangguan mental yang diidapnya.\nPada tahun 2006, ia sudah pernah menyinggung soal OCD yang diidapnya.\nADVERTISEMENT SCROLL TO RESUME CONTENTSuami Victoria Beckham ini mengaku kerap kesulitan untuk berhenti bertindak atas dorongan yang terjadi meskipun sudah berusaha mencoba.\n"Saya akan menaruh kaleng Pepsi saya di lemari es dan jika ada terlalu banyak maka saya akan menaruhnya di lemari lain di suatu tempat karena semuanya harus sempurna," sambungnya.\nPenyebab dan Gejala OCDOCD menampilkan pola pikiran dan ketakutan yang tak diinginkan (obsesi) yang membuat pasien melakukan perilaku berulang (kompulsi).'

In [1139]:
teks5 = article.summary

In [1140]:
teks = article.text

In [1141]:
# Hapus hashtag
teks = re.sub(r'#\w+', '', teks)

# Hapus kata-kata https, www, dan .com
teks = re.sub(r'https?:\/\/\S+', '', teks)
teks = re.sub(r'www\.\S+', '', teks)
teks = re.sub(r'\b\w+\.com\b', '', teks)

# Hapus simbol
teks = re.sub(r'[^\w\s]', '', teks)

# Ubah seluruh teks menjadi lowercase
teks = teks.lower()

In [1142]:
# Tokenisasi
tokens = word_tokenize(teks)

# Hapus stopwords
stop_words = set(stopwords.words('indonesian'))
tokens = [token for token in tokens if token not in stop_words]

In [1143]:
# Hitung frekuensi kemunculan kata
word_counts = Counter(tokens)

In [1144]:
# Ambil kata-kata dengan frekuensi kemunculan minimal 2
selected_words = [word for word, count in word_counts.items() if count >= 2]

# Size vektor 50
selected_words = sorted(selected_words, key=lambda x: word_counts[x], reverse=True)[:50]

# Buat set vektor
vector_set = {}
for i, word in enumerate(selected_words):
    vector_set[word] = i

In [1145]:
# Hitung IDF
N = len(teks)
idf = defaultdict(float)
for word in word_counts.keys():
    count = sum(1 for teks in teks if word in teks)
    idf[word] = math.log(N / (count + 1))

In [1146]:
# Filter kamus IDF untuk hanya kata-kata dalam vektor set
selected_idf = {k: v for k, v in idf.items() if k in vector_set}

In [1147]:
# Hitung TF-IDF untuk setiap kata dalam dokumen
tf_idf = {}
for i, text in enumerate([teks]):
    # Hitung frekuensi kemunculan kata-kata dalam dokumen menggunakan vektor set
    doc_word_counts = defaultdict(int)
    for token in word_tokenize(text):
        if token in vector_set:
            doc_word_counts[token] += 1

    # Hitung TF-IDF untuk setiap kata dalam dokumen
    doc_tf_idf = {}
    for word, count in doc_word_counts.items():
        doc_tf_idf[word] = count * selected_idf[word]

    # Simpan hasil ke dalam kamus tf_idf
    tf_idf[f"Berita 5"] = doc_tf_idf

In [1148]:
# Konversi kamus tf_idf ke dalam DataFrame dengan index yang diambil dari selected_words
df = pd.DataFrame(tf_idf, index=selected_words)
df = df = df.sort_values(by='Berita 5', ascending=False)

# Tampilkan lima kata dengan nilai tertinggi
print(df.head(5))

           Berita 5
gangguan  73.675674
ocd       73.675674
beckham   57.303302
gejala    49.117116
obsesi    49.117116

#Berita 6
source : https://news.detik.com/pemilu/d-6698525/wiranto-serahkan-100-eks-kader-hanura-ke-ppp

In [1149]:
url = 'https://news.detik.com/pemilu/d-6698525/wiranto-serahkan-100-eks-kader-hanura-ke-ppp'

article = Article(url)

In [1150]:
article.download()

In [1151]:
article.parse()

In [1152]:
article.authors

['Brigitta Belia Permata Sari',
 'Https',
 'Www.Facebook.Com Detikcom',
 'Brigitta Belia Permata Sari -']

In [1153]:
article.publish_date

datetime.datetime(2023, 5, 1, 17, 4, 38)

In [1154]:
article.text

'Mantan Ketua Umum Partai Hanura, Wiranto, menyerahkan 100 lebih mantan kader Partai Hanura menjadi kader Partai Persatuan Pembangunan (PPP). Mereka tergabung dalam komunitas Jendral Wiranto Club alias JW Club .\n\n"Sekitar berjumlah 100 lebih kemudian hari ini diwakili oleh 40 orang lebih yang hadir ke kantor ini. Di daerah juga akan ada suatu gerakan yang sama di mana JW Club ini Jenderal Wiranto Club ini akan mengikuti saudara-saudaranya yang hari ini telah melakukan suatu deklarasi untuk masuk ke keluarga besar Partai Persatuan Pembangunan," kata Wiranto di Kantor DPP PPP, Menteng, Jakarta Pusat, Senin (1/5/2023).\n\nWiranto mengaku, dirinya tidak akan memaksa dan memberikan kebebasan pada kadernya untuk memilih rumah perjuangan yang sesuai dengan aspirasi politiknya.\n\nADVERTISEMENT SCROLL TO RESUME CONTENT\n\n"Sayapun kan tidak memakai cara milter ya, semuanya saya perintahkan masuk ke sana ke mari, tapu meruapkan bagian dari suatu musyawarah, memberikan kebebasan bagi mereka untuk memberikan suatu pandangan aspirasi mereka, mau ke mana mereka mencari rumah perjuangan yang pas, rumah perjuangan yang sesuai dengan aspirasi politik mereka," ujarnya.\n\n"Hari ini ternyata memang banyak yang memilih PPP sebagai rumah perjuangan yang baru dan saya senang sekali karena ketua umum PPP Pak Mardiono yang menampung mereka bahkan nenerima dengan tangan terbuka agar mereka dapat bergabung dalam perjuangan partai persatuan pembangunan yg mmg mempunyai cita-cita," sambungnya.\n\nDalam kesempatan itu, Wiranto turut menyampaikan terima kasih kepada Plt. Ketua Umum PPP Mardiono yang telah menerima kelogenya bergabung. Ia juga berharap kehadiran ratusan koleganya tersebut akan membawa kemajuan untuk partai berlogo Kabah tersebut.\n\n"Sekali lagi secara resmi Pak Ketua Umum (Mardiono) saya serahkan anggota-anggota saya kepada bapak untuk dapat dididik, dapat direkrut dan dimatangkan untuk menjadi para pemimpin-pemimpin yang berguna untuk bangsa dan negara," katanya.\n\nDalam penyambutannya, Mardiono secara simbolis memakaikan jas PPP kepada delapan kader baru yang dibawa Wiranto. Beberapa perwakilan yang masuk ke PPP, yaitu Irjen purn. Herman Darmawan, Deni Rahayu S, Apriansyah, Wiyono Iman S, Muhammad Abdul Romi, Hari Ashar, Paryoga, dan Tin atau Desi Sukma\n\nSimak juga \'PDIP Respons PPP Ajak KIB Dukung Ganjar: Alhamdulillah Kalau Bisa Bersama\':\n\n[Gambas:Video 20detik]\n\n\n\n\n\n'

In [1155]:
article.top_image

'https://awsimages.detik.net.id/api/wm/2023/05/01/wiranto_169.jpeg?wid=54&w=650&v=1&t=jpeg'

In [1156]:
article.movies

[]

In [1157]:
article.nlp()

In [1158]:
article.keywords

['kader',
 'partai',
 'ke',
 '100',
 'untuk',
 'serahkan',
 'eks',
 'yang',
 'wiranto',
 'ini',
 'perjuangan',
 'hanura',
 'mereka',
 'dan',
 'ppp']

In [1159]:
article.summary

'Mantan Ketua Umum Partai Hanura, Wiranto, menyerahkan 100 lebih mantan kader Partai Hanura menjadi kader Partai Persatuan Pembangunan (PPP).\n"Sekitar berjumlah 100 lebih kemudian hari ini diwakili oleh 40 orang lebih yang hadir ke kantor ini.\nWiranto mengaku, dirinya tidak akan memaksa dan memberikan kebebasan pada kadernya untuk memilih rumah perjuangan yang sesuai dengan aspirasi politiknya.\nIa juga berharap kehadiran ratusan koleganya tersebut akan membawa kemajuan untuk partai berlogo Kabah tersebut.\nBeberapa perwakilan yang masuk ke PPP, yaitu Irjen purn.'

In [1160]:
teks6 = article.summary

In [1161]:
teks = article.text

In [1162]:
# Hapus hashtag
teks = re.sub(r'#\w+', '', teks)

# Hapus kata-kata https, www, dan .com
teks = re.sub(r'https?:\/\/\S+', '', teks)
teks = re.sub(r'www\.\S+', '', teks)
teks = re.sub(r'\b\w+\.com\b', '', teks)

# Hapus simbol
teks = re.sub(r'[^\w\s]', '', teks)

# Ubah seluruh teks menjadi lowercase
teks = teks.lower()

In [1163]:
# Tokenisasi
tokens = word_tokenize(teks)

# Hapus stopwords
stop_words = set(stopwords.words('indonesian'))
tokens = [token for token in tokens if token not in stop_words]

In [1164]:
# Hitung frekuensi kemunculan kata
word_counts = Counter(tokens)

In [1165]:
# Ambil kata-kata dengan frekuensi kemunculan minimal 2
selected_words = [word for word, count in word_counts.items() if count >= 2]

# Size vektor 50
selected_words = sorted(selected_words, key=lambda x: word_counts[x], reverse=True)[:50]

# Buat set vektor
vector_set = {}
for i, word in enumerate(selected_words):
    vector_set[word] = i

In [1166]:
# Hitung IDF
N = len(teks)
idf = defaultdict(float)
for word in word_counts.keys():
    count = sum(1 for teks in teks if word in teks)
    idf[word] = math.log(N / (count + 1))

In [1167]:
# Filter kamus IDF untuk hanya kata-kata dalam vektor set
selected_idf = {k: v for k, v in idf.items() if k in vector_set}

In [1168]:
# Hitung TF-IDF untuk setiap kata dalam dokumen
tf_idf = {}
for i, text in enumerate([teks]):
    # Hitung frekuensi kemunculan kata-kata dalam dokumen menggunakan vektor set
    doc_word_counts = defaultdict(int)
    for token in word_tokenize(text):
        if token in vector_set:
            doc_word_counts[token] += 1

    # Hitung TF-IDF untuk setiap kata dalam dokumen
    doc_tf_idf = {}
    for word, count in doc_word_counts.items():
        doc_tf_idf[word] = count * selected_idf[word]

    # Simpan hasil ke dalam kamus tf_idf
    tf_idf[f"Berita 6"] = doc_tf_idf

In [1169]:
# Konversi kamus tf_idf ke dalam DataFrame dengan index yang diambil dari selected_words
df = pd.DataFrame(tf_idf, index=selected_words)
df = df = df.sort_values(by='Berita 6', ascending=False)

# Tampilkan lima kata dengan nilai tertinggi
print(df.head(5))

             Berita 6
ppp         62.001473
wiranto     54.251289
partai      46.501105
perjuangan  38.750921
ketua       31.000737

#Berita 7
source : https://www.liputan6.com/showbiz/read/5274248/antonio-dedola-bocorkan-chat-nikita-mirzani-di-whatsapp-ngaku-tak-berniat-perang-hanya-bongkar-kebenaran

In [1170]:
url = 'https://www.liputan6.com/showbiz/read/5274248/antonio-dedola-bocorkan-chat-nikita-mirzani-di-whatsapp-ngaku-tak-berniat-perang-hanya-bongkar-kebenaran'

article = Article(url)

In [1171]:
article.download()

In [1172]:
article.parse()

In [1173]:
article.authors

['Wayan Diananto']

In [1174]:
article.publish_date

datetime.datetime(2023, 5, 1, 17, 0, tzinfo=tzoffset(None, 25200))

In [1175]:
article.text

'Liputan6.com, Jakarta Antonio Dedola membocorkan sejumlah percakapan Nikita Mirzani lewat pesan WhatsApp ke medsos. Tangkapan layar percakapan tersebut diunggah di Instagram Stories, pada akhir pekan kemarin.\n\nDalam dua tangkapan layar itu tampak Nikita Mirzani memohon agar Antonio Dedola menghapus sejumlah unggahan di Instagram Stories, yang berisi bukti transfer dan pertikaian mereka.\n\nDilihat Showbiz Liputan6.com pada Minggu (30/4/2023), Nikita Mirzani meminta bekas suaminya menghapus sejumlah konten Instagram Stories dan siap untuk tak lagi saling bicara dengan Antonio Dedola.\n\nSeperti diketahui, keduanya menikah pada 22 Januari 2023. Namun kini Nikita Mirzani cerai setelah Antonio Dedola menalaknya lewat pesan WhatsApp. Ini jadi perceraian kali keempat bagi bintang film Nenek Gayung.'

In [1176]:
article.top_image

'https://cdn0-production-images-kly.akamaized.net/Cxg1Uoryt7LqbaUELFZUYoacf6I=/1200x675/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/4410778/original/035173500_1682864479-336944194_966619154713234_4809290835964718677_n.jpg'

In [1177]:
article.movies

[]

In [1178]:
article.nlp()

In [1179]:
article.keywords

['ngaku',
 'hanya',
 'nikita',
 'pesan',
 'antonio',
 'pada',
 'kebenaran',
 'tak',
 'di',
 'sejumlah',
 'dedola',
 'whatsapp',
 'mirzani',
 'instagram',
 'perang',
 'tangkapan']

In [1180]:
article.summary

'Liputan6.com, Jakarta Antonio Dedola membocorkan sejumlah percakapan Nikita Mirzani lewat pesan WhatsApp ke medsos.\nTangkapan layar percakapan tersebut diunggah di Instagram Stories, pada akhir pekan kemarin.\nDalam dua tangkapan layar itu tampak Nikita Mirzani memohon agar Antonio Dedola menghapus sejumlah unggahan di Instagram Stories, yang berisi bukti transfer dan pertikaian mereka.\nDilihat Showbiz Liputan6.com pada Minggu (30/4/2023), Nikita Mirzani meminta bekas suaminya menghapus sejumlah konten Instagram Stories dan siap untuk tak lagi saling bicara dengan Antonio Dedola.\nNamun kini Nikita Mirzani cerai setelah Antonio Dedola menalaknya lewat pesan WhatsApp.'

In [1181]:
teks7 = article.summary

In [1182]:
teks = article.text

In [1183]:
# Hapus hashtag
teks = re.sub(r'#\w+', '', teks)

# Hapus kata-kata https, www, dan .com
teks = re.sub(r'https?:\/\/\S+', '', teks)
teks = re.sub(r'www\.\S+', '', teks)
teks = re.sub(r'\b\w+\.com\b', '', teks)

# Hapus simbol
teks = re.sub(r'[^\w\s]', '', teks)

# Ubah seluruh teks menjadi lowercase
teks = teks.lower()

In [1184]:
# Tokenisasi
tokens = word_tokenize(teks)

# Hapus stopwords
stop_words = set(stopwords.words('indonesian'))
tokens = [token for token in tokens if token not in stop_words]

In [1185]:
# Hitung frekuensi kemunculan kata
word_counts = Counter(tokens)

In [1186]:
# Ambil kata-kata dengan frekuensi kemunculan minimal 2
selected_words = [word for word, count in word_counts.items() if count >= 2]

# Size vektor 50
selected_words = sorted(selected_words, key=lambda x: word_counts[x], reverse=True)[:50]

# Buat set vektor
vector_set = {}
for i, word in enumerate(selected_words):
    vector_set[word] = i

In [1187]:
# Hitung IDF
N = len(teks)
idf = defaultdict(float)
for word in word_counts.keys():
    count = sum(1 for teks in teks if word in teks)
    idf[word] = math.log(N / (count + 1))

In [1188]:
# Filter kamus IDF untuk hanya kata-kata dalam vektor set
selected_idf = {k: v for k, v in idf.items() if k in vector_set}

In [1189]:
# Hitung TF-IDF untuk setiap kata dalam dokumen
tf_idf = {}
for i, text in enumerate([teks]):
    # Hitung frekuensi kemunculan kata-kata dalam dokumen menggunakan vektor set
    doc_word_counts = defaultdict(int)
    for token in word_tokenize(text):
        if token in vector_set:
            doc_word_counts[token] += 1

    # Hitung TF-IDF untuk setiap kata dalam dokumen
    doc_tf_idf = {}
    for word, count in doc_word_counts.items():
        doc_tf_idf[word] = count * selected_idf[word]

    # Simpan hasil ke dalam kamus tf_idf
    tf_idf[f"Berita 7"] = doc_tf_idf

In [1190]:
# Konversi kamus tf_idf ke dalam DataFrame dengan index yang diambil dari selected_words
df = pd.DataFrame(tf_idf, index=selected_words)
df = df = df.sort_values(by='Berita 7', ascending=False)

# Tampilkan lima kata dengan nilai tertinggi
print(df.head(5))

            Berita 7
antonio    26.528007
dedola     26.528007
nikita     26.528007
mirzani    26.528007
instagram  19.896005

#Berita 8
source : https://www.liputan6.com/bola/read/5274187/tugas-tambahan-riko-simanjuntak-di-persija-jadi-guru-untuk-pemain-muda

In [1191]:
url = 'https://www.liputan6.com/bola/read/5274187/tugas-tambahan-riko-simanjuntak-di-persija-jadi-guru-untuk-pemain-muda'

article = Article(url)

In [1192]:
article.download()

In [1193]:
article.parse()

In [1194]:
article.authors

['Defri Saefullah']

In [1195]:
article.publish_date

datetime.datetime(2023, 5, 1, 17, 0, 5, tzinfo=tzoffset(None, 25200))

In [1196]:
article.text

'Liputan6.com, Jakarta Gelandang senior Persija Jakarta Riko Simajuntak menjadi pilar Macan Kemayoran di BRI Liga 1 musim lalu. Dia selalu main kalau kondisinya fit sehingga mengundang pujian dari pelatih Persija, Thomas Doll.\n\nPemain mungil ini tampil eksentrik dengan rambut mohawk. Terlebih lagi, ia memiliki kemampuan individu yang luar biasa, cepat, lincah, operan akurat, dan naluri gol yang tajam.\n\nRiko Simanjuntak menjadi salah satu kunci Macan Kemayoran mampu meraih posisi kedua klasemen musim 2022/2023. Dalam 30 kali penampilannya, Riko berhasil mencetak lima gol.\n\nKoleksi golnya itu membuat ia menjadi pemian lokal tersubur di Persija.Walaupun menjadi salah satu pemain penting di bawah arahan Thomas Doll, Riko menyebut bahwa pencapaian yang diraihnya bukan hasil kerja kerasnya sendiri.\n\n"Tentu bukan karena saya saja, semua itu bisa terjadi karena kolaborasi dari teman-teman. Kami semua mencoba bagaimana mengembangkan diri agar bisa menjalankan semua arahan taktikal yang diinginkan pelatih, ucap Riko seperti dikutip situs resmi Persija.\n\niko.'

In [1197]:
article.top_image

'https://cdn1-production-images-kly.akamaized.net/YjGiYn_-Y2UZia9g_2YdD9oWpDA=/0x0:0x0/1200x675/filters:quality(75):strip_icc():format(jpeg):watermark(kly-media-production/assets/images/watermarks/liputan6/watermark-color-landscape-new.png,1100,20,0)/kly-media-production/medias/4372033/original/024185700_1679826027-20230325BL_FIFA_Matchday_Timnas_Indonesia_Vs_Timnas_Burundi_Stok_Foto_48.jpg'

In [1198]:
article.movies

[]

In [1199]:
article.nlp()

In [1200]:
article.keywords

['satu',
 'simanjuntak',
 'guru',
 'semua',
 'pelatih',
 'salah',
 'untuk',
 'muda',
 'persija',
 'pemain',
 'di',
 'yang',
 'menjadi',
 'jadi',
 'thomas',
 'tambahan',
 'tugas',
 'riko']

In [1201]:
article.summary

'Liputan6.com, Jakarta Gelandang senior Persija Jakarta Riko Simajuntak menjadi pilar Macan Kemayoran di BRI Liga 1 musim lalu.\nDia selalu main kalau kondisinya fit sehingga mengundang pujian dari pelatih Persija, Thomas Doll.\nRiko Simanjuntak menjadi salah satu kunci Macan Kemayoran mampu meraih posisi kedua klasemen musim 2022/2023.\nKoleksi golnya itu membuat ia menjadi pemian lokal tersubur di Persija.Walaupun menjadi salah satu pemain penting di bawah arahan Thomas Doll, Riko menyebut bahwa pencapaian yang diraihnya bukan hasil kerja kerasnya sendiri.\nKami semua mencoba bagaimana mengembangkan diri agar bisa menjalankan semua arahan taktikal yang diinginkan pelatih, ucap Riko seperti dikutip situs resmi Persija.'

In [1202]:
teks8 = article.summary

In [1203]:
teks = article.text

In [1204]:
# Hapus hashtag
teks = re.sub(r'#\w+', '', teks)

# Hapus kata-kata https, www, dan .com
teks = re.sub(r'https?:\/\/\S+', '', teks)
teks = re.sub(r'www\.\S+', '', teks)
teks = re.sub(r'\b\w+\.com\b', '', teks)

# Hapus simbol
teks = re.sub(r'[^\w\s]', '', teks)

# Ubah seluruh teks menjadi lowercase
teks = teks.lower()

In [1205]:
# Tokenisasi
tokens = word_tokenize(teks)

# Hapus stopwords
stop_words = set(stopwords.words('indonesian'))
tokens = [token for token in tokens if token not in stop_words]

In [1206]:
# Hitung frekuensi kemunculan kata
word_counts = Counter(tokens)

In [1207]:
# Ambil kata-kata dengan frekuensi kemunculan minimal 2
selected_words = [word for word, count in word_counts.items() if count >= 2]

# Size vektor 50
selected_words = sorted(selected_words, key=lambda x: word_counts[x], reverse=True)[:50]

# Buat set vektor
vector_set = {}
for i, word in enumerate(selected_words):
    vector_set[word] = i

In [1208]:
# Hitung IDF
N = len(teks)
idf = defaultdict(float)
for word in word_counts.keys():
    count = sum(1 for teks in teks if word in teks)
    idf[word] = math.log(N / (count + 1))

In [1209]:
# Filter kamus IDF untuk hanya kata-kata dalam vektor set
selected_idf = {k: v for k, v in idf.items() if k in vector_set}

In [1210]:
# Hitung TF-IDF untuk setiap kata dalam dokumen
tf_idf = {}
for i, text in enumerate([teks]):
    # Hitung frekuensi kemunculan kata-kata dalam dokumen menggunakan vektor set
    doc_word_counts = defaultdict(int)
    for token in word_tokenize(text):
        if token in vector_set:
            doc_word_counts[token] += 1

    # Hitung TF-IDF untuk setiap kata dalam dokumen
    doc_tf_idf = {}
    for word, count in doc_word_counts.items():
        doc_tf_idf[word] = count * selected_idf[word]

    # Simpan hasil ke dalam kamus tf_idf
    tf_idf[f"Berita 8"] = doc_tf_idf

In [1211]:
# Konversi kamus tf_idf ke dalam DataFrame dengan index yang diambil dari selected_words
df = pd.DataFrame(tf_idf, index=selected_words)
df = df = df.sort_values(by='Berita 8', ascending=False)

# Tampilkan lima kata dengan nilai tertinggi
print(df.head(5))

            Berita 8
riko       34.667115
persija    20.800269
jakarta    13.866846
macan      13.866846
kemayoran  13.866846

#Berita 9
source : https://www.kompas.com/hype/read/2023/05/01/125954466/deretan-selebritas-ngetop-yang-belum-pernah-ke-met-gala-mulai-dari-adele

In [1212]:
url = 'https://www.kompas.com/hype/read/2023/05/01/125954466/deretan-selebritas-ngetop-yang-belum-pernah-ke-met-gala-mulai-dari-adele'

article = Article(url)

In [1213]:
article.download()

In [1214]:
article.parse()

In [1215]:
article.authors

['Kompas Cyber Media', 'Cynthia Lova', "Afp Niklas Halle'N"]

In [1216]:
article.publish_date

datetime.datetime(2023, 5, 1, 0, 0)

In [1217]:
article.text

'KOMPAS.com - Met Gala adalah acara bergengsi di dunia fesyen. Met Gala biasa digelar pada Senin pertama bulan Mei secara rutin tiap tahun.\n\nMet Gala dikenal juga sebagai malam penggalangan dana yang ditujukan untuk pameran seni Costume Institute di Metropolitan Museum of Art, New York, Amerika Serikat.\n\nTema Met Gala untuk tahun ini Karl Lagerfeld: A Line of Beauty yang diketahui oleh Michaela Corl, Penelope Cruz, Roger Federer, Dua Lipa dan pemimpin redaksi Vogue, Anna Wintour.\n\nBaca juga: Kisah Sedih di Balik Gaun Marilyn Monroe yang Dipakai Kim Kardashian di Met Gala\n\nTamu-tamu yang diundang ke Met Gala bukan sembarangan.\n\nMereka yang hadir ke Met Gala berasal dari kalangan yang populer di berbagai industri, mulai dari industri fashion, hiburan, politik, media, hingga seni.\n\nBeberapa nama besar yang telah hadir di acara ini, yakni Rihanna, Kim Kardashian, Gigi Hadid, Katy Perry, Lady Gaga, dan selebritas top lainnya.\n\nMeski begitu, ada beberapa selebritas top dunia yang belum pernah menginjakkan kakinya di Met Gala.\n\nBaca juga: Beredar Foto Gaun Marilyn Monroe Rusak Usai Dipakai Kim Kardashian di Met Gala\n\nMulai dari penyanyi terkenal Adele, Angelina Jolie yang sangat terkenal sebagai aktris dan aktivis, Jennifer Aniston yang merupakan artis kelas A .\n\nBerikut daftar selebritas top yang belum pernah ke Met Gala:\n\n1. Brad Pitt'

In [1218]:
article.top_image

'https://asset.kompas.com/crops/G60pw4OS5Q9EM3RbXFXFq2RICak=/155x0:876x481/780x390/filters:watermark(data/photo/2020/03/10/5e6775d943eeb.png,0,-0,1)/data/photo/2022/07/03/62c133caad47e.jpg'

In [1219]:
article.movies

[]

In [1220]:
article.nlp()

In [1221]:
article.keywords

['pernah',
 'ke',
 'gala',
 'mulai',
 'dari',
 'sampai',
 'kardashian',
 'juga',
 'di',
 'yang',
 'selebritas',
 'met',
 'ngetop',
 'kim',
 'pitt']

In [1222]:
article.summary

'Met Gala biasa digelar pada Senin pertama bulan Mei secara rutin tiap tahun.\nBaca juga: Kisah Sedih di Balik Gaun Marilyn Monroe yang Dipakai Kim Kardashian di Met GalaTamu-tamu yang diundang ke Met Gala bukan sembarangan.\nMereka yang hadir ke Met Gala berasal dari kalangan yang populer di berbagai industri, mulai dari industri fashion, hiburan, politik, media, hingga seni.\nMeski begitu, ada beberapa selebritas top dunia yang belum pernah menginjakkan kakinya di Met Gala.\nBerikut daftar selebritas top yang belum pernah ke Met Gala:1.'

In [1223]:
teks9 = article.summary

In [1224]:
teks = article.text

In [1225]:
# Hapus hashtag
teks = re.sub(r'#\w+', '', teks)

# Hapus kata-kata https, www, dan .com
teks = re.sub(r'https?:\/\/\S+', '', teks)
teks = re.sub(r'www\.\S+', '', teks)
teks = re.sub(r'\b\w+\.com\b', '', teks)

# Hapus simbol
teks = re.sub(r'[^\w\s]', '', teks)

# Ubah seluruh teks menjadi lowercase
teks = teks.lower()

In [1226]:
# Tokenisasi
tokens = word_tokenize(teks)

# Hapus stopwords
stop_words = set(stopwords.words('indonesian'))
tokens = [token for token in tokens if token not in stop_words]

In [1227]:
# Hitung frekuensi kemunculan kata
word_counts = Counter(tokens)

In [1228]:
# Ambil kata-kata dengan frekuensi kemunculan minimal 2
selected_words = [word for word, count in word_counts.items() if count >= 2]

# Size vektor 50
selected_words = sorted(selected_words, key=lambda x: word_counts[x], reverse=True)[:50]

# Buat set vektor
vector_set = {}
for i, word in enumerate(selected_words):
    vector_set[word] = i

In [1229]:
# Hitung IDF
N = len(teks)
idf = defaultdict(float)
for word in word_counts.keys():
    count = sum(1 for teks in teks if word in teks)
    idf[word] = math.log(N / (count + 1))

In [1230]:
# Filter kamus IDF untuk hanya kata-kata dalam vektor set
selected_idf = {k: v for k, v in idf.items() if k in vector_set}

In [1231]:
# Hitung TF-IDF untuk setiap kata dalam dokumen
tf_idf = {}
for i, text in enumerate([teks]):
    # Hitung frekuensi kemunculan kata-kata dalam dokumen menggunakan vektor set
    doc_word_counts = defaultdict(int)
    for token in word_tokenize(text):
        if token in vector_set:
            doc_word_counts[token] += 1

    # Hitung TF-IDF untuk setiap kata dalam dokumen
    doc_tf_idf = {}
    for word, count in doc_word_counts.items():
        doc_tf_idf[word] = count * selected_idf[word]

    # Simpan hasil ke dalam kamus tf_idf
    tf_idf[f"Berita 9"] = doc_tf_idf

In [1232]:
# Konversi kamus tf_idf ke dalam DataFrame dengan index yang diambil dari selected_words
df = pd.DataFrame(tf_idf, index=selected_words)
df = df = df.sort_values(by='Berita 9', ascending=False)

# Tampilkan lima kata dengan nilai tertinggi
print(df.head(5))

             Berita 9
met         71.731917
gala        71.731917
kim         21.519575
kardashian  21.519575
selebritas  21.519575

#Berita 10
source : https://www.kompas.com/hype/read/2023/04/30/190658666/kronologi-pencurian-uang-di-rumah-catherine-wilson

In [1233]:
url = 'https://www.kompas.com/hype/read/2023/04/30/190658666/kronologi-pencurian-uang-di-rumah-catherine-wilson'

article = Article(url)

In [1234]:
article.download()

In [1235]:
article.parse()

In [1236]:
article.authors

['Kompas Cyber Media', 'Ady Prawira Riandi', 'Youtube Adiez Gilang']

In [1237]:
article.publish_date

datetime.datetime(2023, 4, 30, 0, 0)

In [1238]:
article.text

'JAKARTA, KOMPAS.com - Polres Metro Depok menjelaskan kronologi pencurian uang yang terjadi di rumah artis peran Catherine Wilson atau akrab disapa Keket.\n\nPeristiwa itu terjadi pada hari Jumat, 10 Maret 2023 di kediaman Keket yang berlokasi di Cinere, Depok, Jawa Barat.\n\nTersangka Riki Adiasza adalah asisten rumah tangga (ART) Catherine Wilson.\n\nBaca juga: Catherine Wilson Laporkan ART atas Kasus Pencurian, Total Uang Rp 20 Juta Raib\n\nRiki Adiasza melakukan aksinya saat Keket sedang berada di luar rumah.\n\n"Pada saat korban keluar rumah untuk waktu yang lama, tersangka mengambil uang dolar Amerika dan Singapura milik korban yang disimpan di atas lemari kamar korban dan mengambil uang rupiah milik korban di kotak lemari," kata Kasi Humas Polres Depok AKP Elni Fitri dalam keterangannya, Minggu (30/4/2023).\n\nTersangka kemudian menukarkan uang curiannya ke sebuah tempat penukaran uang di kawasan Melawai, Jakarta Selatan.\n\nBaca juga: Sempat Vakum, Catherine Wilson Bakal Comeback Main Film Layar Lebar\n\nCatherine Wilson menyadari uangnya raib ketika pulang ke rumah dan mencarinya.\n\nCatherine Wilson kaget saat mengetahui uang yang ia simpan tak ada.\n\nCatherine Wilson sempat menanyakan kepada tersangka tetapi sempat mengelak dan tidak mengakui perbuatannya.\n\nBaca juga: Catherine Wilson Alami Penebalan Dinding Rahim, Pendarahan Hampir 1 Bulan hingga Dioperasi\n\n"Sampai akhirnya korban mengecek ke kamar tersangka dan mendapati surat penukaran uang yang tidak bisa dielak lagi oleh tersangka dan akhirnya tersangka dibawa ke Polres Metro Depok guna pengusutan lebih lanjut," kata Elni Fitri.\n\nAdapun uang yang diambil pelaku bernama Riki Adiasza ini berupa 1.000 dolar AS (Rp 14,6 juta), 400 dolar Singapura (Rp 4,3 juta), dan Rp 1,7 juta.\n\nTotal kerugian yang dialami Catherine Wilson mencapai Rp 20,6 juta.\n\nBaca juga: Catherine Wilson Menikah, Idham Masse Beri Maskawin 100 Gram Emas dan Set Berlian\n\nCatherine Wilson rencananya akan memenuhi panggilan Polres Metro Depok pada Selasa, 2 Mei 2023.'

In [1239]:
article.top_image

'https://asset.kompas.com/crops/eLO5kYmzsT3GppkAEMrAs5w8ozQ=/0x0:0x0/780x390/filters:watermark(data/photo/2020/03/10/5e6775d943eeb.png,0,-0,1)/data/photo/2021/08/10/611245e9a357f.png'

In [1240]:
article.movies

[]

In [1241]:
article.nlp()

In [1242]:
article.keywords

['pencurian',
 'tersangka',
 'korban',
 'di',
 'yang',
 'dan',
 'depok',
 'rumah',
 'wilson',
 'rp',
 'uang',
 'kronologi',
 'catherine']

In [1243]:
article.summary

'JAKARTA, KOMPAS.com - Polres Metro Depok menjelaskan kronologi pencurian uang yang terjadi di rumah artis peran Catherine Wilson atau akrab disapa Keket.\nBaca juga: Catherine Wilson Laporkan ART atas Kasus Pencurian, Total Uang Rp 20 Juta RaibRiki Adiasza melakukan aksinya saat Keket sedang berada di luar rumah.\nTersangka kemudian menukarkan uang curiannya ke sebuah tempat penukaran uang di kawasan Melawai, Jakarta Selatan.\nBaca juga: Sempat Vakum, Catherine Wilson Bakal Comeback Main Film Layar LebarCatherine Wilson menyadari uangnya raib ketika pulang ke rumah dan mencarinya.\nCatherine Wilson kaget saat mengetahui uang yang ia simpan tak ada.'

In [1244]:
teks10 = article.summary

In [1245]:
teks = article.text

In [1246]:
# Hapus hashtag
teks = re.sub(r'#\w+', '', teks)

# Hapus kata-kata https, www, dan .com
teks = re.sub(r'https?:\/\/\S+', '', teks)
teks = re.sub(r'www\.\S+', '', teks)
teks = re.sub(r'\b\w+\.com\b', '', teks)

# Hapus simbol
teks = re.sub(r'[^\w\s]', '', teks)

# Ubah seluruh teks menjadi lowercase
teks = teks.lower()

In [1247]:
# Tokenisasi
tokens = word_tokenize(teks)

# Hapus stopwords
stop_words = set(stopwords.words('indonesian'))
tokens = [token for token in tokens if token not in stop_words]

In [1248]:
# Hitung frekuensi kemunculan kata
word_counts = Counter(tokens)

In [1249]:
# Ambil kata-kata dengan frekuensi kemunculan minimal 2
selected_words = [word for word, count in word_counts.items() if count >= 2]

# Size vektor 50
selected_words = sorted(selected_words, key=lambda x: word_counts[x], reverse=True)[:50]

# Buat set vektor
vector_set = {}
for i, word in enumerate(selected_words):
    vector_set[word] = i

In [1250]:
# Hitung IDF
N = len(teks)
idf = defaultdict(float)
for word in word_counts.keys():
    count = sum(1 for teks in teks if word in teks)
    idf[word] = math.log(N / (count + 1))

In [1251]:
# Filter kamus IDF untuk hanya kata-kata dalam vektor set
selected_idf = {k: v for k, v in idf.items() if k in vector_set}

In [1252]:
# Hitung TF-IDF untuk setiap kata dalam dokumen
tf_idf = {}
for i, text in enumerate([teks]):
    # Hitung frekuensi kemunculan kata-kata dalam dokumen menggunakan vektor set
    doc_word_counts = defaultdict(int)
    for token in word_tokenize(text):
        if token in vector_set:
            doc_word_counts[token] += 1

    # Hitung TF-IDF untuk setiap kata dalam dokumen
    doc_tf_idf = {}
    for word, count in doc_word_counts.items():
        doc_tf_idf[word] = count * selected_idf[word]

    # Simpan hasil ke dalam kamus tf_idf
    tf_idf[f"Berita 10"] = doc_tf_idf

In [1253]:
# Konversi kamus tf_idf ke dalam DataFrame dengan index yang diambil dari selected_words
df = pd.DataFrame(tf_idf, index=selected_words)
df = df = df.sort_values(by='Berita 10', ascending=False)

# Tampilkan lima kata dengan nilai tertinggi
print(df.head(5))

           Berita 10
catherine  83.308844
wilson     83.308844
uang       68.161781
tersangka  53.014719
depok      37.867656

#Tabel

In [1254]:
#buat tabel
tabel = {
    "Text": [teks1, teks2, teks3, teks4, teks5, teks6, teks7, teks8, teks9, teks10],
    "Media": ["Kompas", "Kompas", "Detik", "Liputan6", "Detik", "Detik", "Liputan6", "Liputan6", "Kompas", "Kompas"],
    "Label": ["Politik", "Olahraga", "Olahraga", "Entertainment", "Entertainment", "Politik", "Entertainment", "Olahraga", "Entertainment", "Entertainment"]
}

In [1255]:
#Print tabel
tabel = pd.DataFrame(tabel)
tabel

                                                Text     Media          Label
0  Dikutip dari akun Instagram @kpu_ri, 700 orang...    Kompas        Politik
1  KOMPAS.com - Myanmar menjadi lawan kedua timna...    Kompas       Olahraga
2  Rider VR46 Racing Team, Marco Bezzecchi, meneg...     Detik       Olahraga
3  Liputan6.com, Jakarta - Epic Games Store kemba...  Liputan6  Entertainment
4  Beberapa waktu lalu, David Beckham buka-bukaan...     Detik  Entertainment
5  Mantan Ketua Umum Partai Hanura, Wiranto, meny...     Detik        Politik
6  Liputan6.com, Jakarta Antonio Dedola membocork...  Liputan6  Entertainment
7  Liputan6.com, Jakarta Gelandang senior Persija...  Liputan6       Olahraga
8  Met Gala biasa digelar pada Senin pertama bula...    Kompas  Entertainment
9  JAKARTA, KOMPAS.com - Polres Metro Depok menje...    Kompas  Entertainment